{% extends "base.html" %}

{% block title %}Закрытые заявки{% endblock %}

{% block page_title %}Закрытые заявки{% endblock %}

{% block content %}
<div class="container">
    <h1>Закрытые заявки</h1>
    <table class="table table-striped table-bordered sortable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Пользователь</th>
                <th>Сервис</th>
                <th>Подсервис</th>
                <th>Статус</th>
                <th>Дата создания</th>
                <th>Дата закрытия</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in closed_tickets %}
            <tr class="ticket-row" data-ticket-id="{{ ticket.ticket_id }}">
                <td>{{ ticket.ticket_id }}</td>
                <td>{{ ticket.full_name }}</td>
                <td>{{ ticket.service }}</td>
                <td>{{ ticket.subservice }}</td>
                <td>закрыта</td>
                <td>{{ ticket.creation_date }}</td>
                <td>{{ ticket.close_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="ticketModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Детали заявки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>От:</strong> <span id="ticketFrom"></span></p>
                <p><strong>Сервис:</strong> <span id="ticketService"></span></p>
                <p><strong>Подсервис:</strong> <span id="ticketSubservice"></span></p>
                <p><strong>Сообщения:</strong></p>
                <div id="ticketMessages" class="border rounded p-2"></div>
                <p><strong>Вложения:</strong></p>
                <ul id="ticketAttachments" class="list-unstyled d-flex flex-wrap"></ul>
                <p><strong>Ответственный:</strong> <span id="ticketResponsible"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-reopen" id="reopenButton">Вернуть в работу</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="reopenModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="max-width: 30%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вернуть заявку в работу</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="reopenForm">
                    <div class="form-group">
                        <label for="reopenReason">Причина возврата:</label>
                        <textarea class="form-control" id="reopenReason" rows="3" required></textarea>
                    </div>
                    <div class="form-group mt-3">
                        <label for="reopenAttachment">Вложение:</label>
                        <input type="file" class="form-control" id="reopenAttachment">
                    </div>
                    <button type="submit" class="btn btn-warning mt-3">Вернуть в работу</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal attachment-modal" id="attachmentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Предпросмотр вложения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="attachmentPreview" src="" alt="Attachment Preview">
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    $('.ticket-row').on('click', function () {
        $('.ticket-row').removeClass('active');
        $(this).addClass('active');
        var ticketId = $(this).data('ticket-id');

        $.get('/api/get_ticket_details', { ticket_id: ticketId }, function (data) {
            $('#ticketFrom').text(data.ticket_details.full_name);
            $('#ticketService').text(data.ticket_details.service);
            $('#ticketSubservice').text(data.ticket_details.subservice);
            $('#ticketResponsible').text(data.ticket_details.admin_full_name);
            $('#ticketMessages').empty();
            $('#ticketAttachments').empty();
            $('#ticketModal').data('ticket-id', ticketId);

            data.messages.forEach(function (message) {
                $('#ticketMessages').append(`
                    <div class="message-container">
                        <div><span class="message-author">${message.sender_name}:</span> <span class="message-text">${message.message_text}</span></div>
                        <div class="message-timestamp">${new Date(message.timestamp).toLocaleString('ru-RU', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' })}</div>
                    </div>
                `);
            });

            data.attachments.forEach(function (attachment) {
                if (['jpg', 'jpeg', 'png', 'gif'].includes(attachment.file_type.toLowerCase())) {
                    var attachmentUrl = '/download_attachment/' + attachment.file_path.split('/').pop();
                    $('#ticketAttachments').append('<li><img src="' + attachmentUrl + '" class="attachment-preview" data-full-src="' + attachmentUrl + '"></li>');
                } else {
                    $('#ticketAttachments').append('<li><a href="/download_attachment/' + attachment.file_path.split('/').pop() + '">' + attachment.file_path.split('/').pop() + '</a></li>');
                }
            });

            $('#ticketModal').modal('show');
        });
    });

    $('#ticketAttachments').on('click', '.attachment-preview', function () {
        var fullSrc = $(this).data('full-src');
        $('#attachmentPreview').attr('src', fullSrc);
        $('#attachmentModal').modal('show');
    });

    $('#reopenButton').on('click', function () {
        $('#reopenModal').modal('show');
        $('#ticketModal').css('z-index', '1040');
        $('.modal-backdrop').addClass('custom-backdrop');
    });

    $('#reopenModal').on('hidden.bs.modal', function () {
        $('#ticketModal').css('z-index', '1050');
        $('.modal-backdrop').last().removeClass('custom-backdrop');
    });

    $('#ticketModal').on('hidden.bs.modal', function () {
        $('.modal-backdrop').removeClass('custom-backdrop');
    });

    $('#reopenForm').on('submit', function (e) {
        e.preventDefault();
        var ticketId = $('#ticketModal').data('ticket-id');
        var reopenReason = $('#reopenReason').val();
        var reopenAttachment = $('#reopenAttachment')[0].files[0];
        var formData = new FormData();
        formData.append('ticket_id', ticketId);
        formData.append('reopen_reason', reopenReason);
        if (reopenAttachment) {
            formData.append('attachment', reopenAttachment);
        }

        $.ajax({
            url: '/api/reopen_ticket',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#reopenReason').val('');
                $('#reopenAttachment').val('');
                $('#reopenModal').modal('hide');
                $('#ticketModal').modal('hide');
                $('.modal-backdrop').removeClass('custom-backdrop');
                location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error reopening ticket:", textStatus, errorThrown);
            }
        });
    });
});
</script>
{% endblock %}
