{% extends "base.html" %}

{% block title %}Уведомления{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/notifications.css') }}">
{% endblock %}

{% block content %}
<!-- Основной контент -->
<div class="main-content container-fluid">
    <div class="container">
        <h1>Управление уведомлениями</h1>
        <form method="post">
            <label for="message">Сообщение:</label>
            <textarea id="message" name="message" required></textarea>

            <div>
                <input type="checkbox" id="is_for_admin" name="is_for_admin">
                <label for="is_for_admin">Для администраторов</label>
            </div>
            <div>
                <input type="checkbox" id="is_for_leader" name="is_for_leader">
                <label for="is_for_leader">Для руководителей</label>
            </div>
            <div>
                <input type="checkbox" id="is_for_user" name="is_for_user">
                <label for="is_for_user">Для пользователей</label>
            </div>

            <button type="submit" class="btn btn-primary">Отправить уведомление</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Сообщение</th>
                    <th>Целевая аудитория</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                <tr>
                    <td>{{ notification.message }}</td>
                    <td>
                        {% if notification.is_for_admin %}Администраторы{% endif %}
                        {% if notification.is_for_leader %}Руководители{% endif %}
                        {% if notification.is_for_user %}Пользователи{% endif %}
                    </td>
                    <td>
                        <form action="{{ url_for('userlist.delete_notification', notification_id=notification.id) }}" method="post">
                            <button type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-link">Вернуться на главную</a>
</div>
{% endblock %}
