{% extends "base.html" %}

{% block title %}Новые заявки{% endblock %}

{% block page_title %}Новые заявки{% endblock %}

{% block content %}
<div class="container">
    <h1>Новые заявки</h1>
    <table class="table table-striped table-bordered sortable">
        <thead>
            <tr>
                <th>ID</th>
                <th>От</th>
                <th>Сервис</th>
                <th>Подсервис</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in unassigned_tickets %}
            <tr class="ticket-row {% if (current_time - ticket.creation_date).total_seconds() < 300 %} new-ticket {% endif %}" data-ticket-id="{{ ticket.ticket_id }}">
                <td>{{ ticket.ticket_id }}</td>
                <td>{{ ticket.full_name }}</td>
                <td>{{ ticket.service }}</td>
                <td>{{ ticket.subservice }}</td>
                <td>{{ ticket.creation_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="ticketModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Детали заявки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>От:</strong> <span id="ticketFrom"></span></p>
                <p><strong>Сервис:</strong> <span id="ticketService"></span></p>
                <p><strong>Подсервис:</strong> <span id="ticketSubservice"></span></p>
                <p><strong>Сообщения:</strong></p>
                <div id="ticketMessages" class="border rounded p-2"></div>
                <p><strong>Вложения:</strong></p>
                <ul id="ticketAttachments" class="list-unstyled d-flex flex-wrap"></ul>
                <p><strong>Ответственный:</strong> <span id="ticketResponsible"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="workButton" style="float: left;">Взять в работу</button>
            </div>
        </div>
    </div>
</div>

<div class="modal attachment-modal" id="attachmentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Предпросмотр вложения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="attachmentPreview" src="" alt="Attachment Preview">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("Document ready");

        $('.ticket-row').on('click', function () {
            $('.ticket-row').removeClass('active');
            $(this).addClass('active');
            var ticketId = $(this).data('ticket-id');
            console.log("Ticket row clicked, ID: " + ticketId);

            $.get('/api/get_ticket_details', { ticket_id: ticketId }, function (data) {
                console.log("Ticket details fetched:", data);

                $('#ticketFrom').text(data.ticket_details.full_name);
                $('#ticketService').text(data.ticket_details.service);
                $('#ticketSubservice').text(data.ticket_details.subservice);
                $('#ticketResponsible').text(data.ticket_details.admin_full_name);
                $('#ticketMessages').empty();
                $('#ticketAttachments').empty();

                data.messages.forEach(function (message) {
                    $('#ticketMessages').append(`
                        <div class="message-container">
                            <div><span class="message-author">${message.sender_name}:</span> <span class="message-text">${message.message_text}</span></div>
                            <div class="message-timestamp">${new Date(message.timestamp).toLocaleString('ru-RU', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' })}</div>
                        </div>
                    `);
                });

                data.attachments.forEach(function (attachment) {
                    if (['jpg', 'jpeg', 'png', 'gif'].includes(attachment.file_type.toLowerCase())) {
                        var attachmentUrl = '/download_attachment/' + attachment.file_path.split('/').pop();
                        console.log("Generated full URL for attachment: " + attachmentUrl);
                        $('#ticketAttachments').append('<li><img src="' + attachmentUrl + '" class="attachment-preview" data-full-src="' + attachmentUrl + '"></li>');
                    } else {
                        $('#ticketAttachments').append('<li><a href="/download_attachment/' + attachment.file_path.split('/').pop() + '">' + attachment.file_path.split('/').pop() + '</a></li>');
                    }
                });

                $('#ticketModal').modal('show');
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log("Error fetching ticket details:", textStatus, errorThrown);
            });
        });

        $('#ticketAttachments').on('click', '.attachment-preview', function () {
            var fullSrc = $(this).data('full-src');
            $('#attachmentPreview').attr('src', fullSrc);
            $('#attachmentModal').modal('show');
        });

        $('#workButton').on('click', function () {
            var ticketId = $('.ticket-row.active').data('ticket-id');
            $.post('/helpdesk/take_ticket/' + ticketId, function (response) {
                $('#ticketModal').modal('hide');
            });
        });
    });
</script>
{% endblock %}
